<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    $([[ $FILE = "contents/startseite" ]] && echo '<meta name="description" content="Das extra gro&szlig;e K&ouml;rnerkissen! Der Dinkel verteilt sich ideal um den K&ouml;rper und kann besonders viel &amp; lange W&auml;rme (oder K&auml;lte) speichern. Ideal auch als Geschenk zu Weihnachten, Geburtstag und anderen Anl&auml;ssen!" />')

    <!-- Please... don't look at me, I'm naked code! :o -->

    <!-- feed sharing sites with preview image and infos (fb/g+) -->
    <meta property="og:image" content="http://www.die-dinkelmaus.de/images/dinkelmaus.png"/>
    <meta property="og:image" content="http://www.die-dinkelmaus.de/images/P1040109-DiMa-rot-Herzen-kpl1.jpg"/>
    <meta property="og:image" content="http://www.die-dinkelmaus.de/images/P1040115-DiMa-rot-Karo1.jpg"/>
    <meta property="og:image" content="http://www.die-dinkelmaus.de/images/variante_liniert.jpg"/>
    <meta property="og:image" content="http://www.die-dinkelmaus.de/images/variante_andere.jpg"/>
    <meta property="og:title" content="Die Dinkelmaus - Das Geschenk f&uuml;r Gro&szlig; und Klein!"/>
    <meta property="og:site_name" content="Die-Dinkelmaus.de"/>
    <meta property="og:url" content="http://www.die-dinkelmaus.de"/>

    <!-- stylesheets -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href='../css/Indie-Flower.css' rel='stylesheet' type='text/css'>
    <link href="../scripts/boxer/jquery.fs.boxer.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="../scripts/nailthumb/jquery.nailthumb.1.1.min.css" type="text/css" />

    <!-- other resources -->
    <link rel="shortcut icon" href="../images/favicon.png">

    <title>Die Dinkelmaus - Das Geschenk f&uuml;r Gro&szlig; und Klein!</title>
</head>

<body>
    <div id="logo">
        <a href="startseite.html"><img src="../images/logo.png" alt="Die-Dinkelmaus.de" /></a>
        <img class="fRight" src="../images/feedback_hinweis.png" alt="Ihre Meinung ist uns wichtig!" />
    </div>
    <div class="header">
        <div class="nav">
            <ul class="fLeft">
                <li id="homebutton"><a class="btn btn-success" href="startseite.html">Startseite <i class="fa fa-home"></i></a></li>
            </ul>
            <ul class="fRight">
	<li><a id="guestbokLink" href="https://supr.com/dinkel-maus-kissen"><span class="btn btn-info">Shop <i class="fa fa-	comments"></i></span></a></li>
                <!-- visitenkarte button -->
                <li><a id="cardLink" href="visitenkarte.html"><span class="btn btn-primary">Visitenkarte <i class="fa fa-th-large"></i></span></a></li>

                <!-- guestbook button -->
                <li><a id="guestbookLink" href="guestbook.html"><span class="btn btn-info">G&auml;stebuch <i class="fa fa-comments"></i></span></a></li>

                <!-- share buttons -->
                <li>
                    <span class="btn-group">
                        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            Weitersagen...
                            <span class="caret"></span>
                        </button>
                        <ul class="sharelinks dropdown-menu" role="menu">
                            <li><a rel="nofollow" class="share-mail" href="mailto:?subject=Empfehlung: Die-Dinkelmaus.de&amp;body=Hier kann man Dinkelmäuse bekommen: Schau vorbei auf http://www.die-dinkelmaus.de." title="Per Mail weitersagen...">Per Mail</a>
                            </li>
                            <li><a rel="nofollow" onclick="popupwindow('http://www.facebook.com/sharer.php?u=http://www.die-dinkelmaus.de&amp;t=Die-Dinkelmaus.de', 'Share @ Facebook', 626, 436)" class="share-facebook" href="#">Facebook</a></li>
                            <li><a rel="nofollow" onclick="popupwindow('http://plus.google.com/share?url=http://www.die-dinkelmaus.de', 'Share @ Google+', 500, 600);" class="share-google" data-boxer-height="500" data-boxer-width="700">Google+</a></li>
                            <li><a rel="nofollow" onclick="popupwindow('https://twitter.com/intent/tweet?url=http://www.die-dinkelmaus.de/&amp;text=Die-Dinkelmaus.de - schaut vorbei!', 'Share @ Twitter', 600, 500)" class="share-twitter" data-lang="de" data-count="none" href="#">Twitter</a>
                            <li><a rel="nofollow" onclick="popupwindow('http://api.addthis.com/oexchange/0.8/offer?url=http://www.die-dinkelmaus.de', 'Share Website', 500, 700);" class="share-addthis" href="#">Weitere...</a> </li>
                        </ul>
                    </span>
                </li>

           </ul>


        </div>
    </div>

    <div class="main">

        <div id="sideImage"></div>
        <div id="content">
            <noscript>
                <div id="nojswarning" class="alert alert-danger">
                In ihrem Browser ist <b>JavaScript deaktiviert</b> oder sie besitzen einen veralteten Browser! <br />
                Um diese Website nutzen zu können, stellen Sie bitte sicher, dass Javascript aktiviert ist. <br/>
                Eine Anleitung, wie Sie JavaScript in Ihrem Browser einschalten können, befindet sich
                <a href="http://www.enable-javascript.com/de/" target="_blank">hier</a>.
                </div>
            </noscript>

            $(content)

            $([[ $FILE = "contents/startseite" ]] && include "contents/news" )
        </div>

    </div>

    <div class="footer mousefont">
        <span class="linkcolor">Copyright 2014 - <span id="year">$( date +%Y )</span></span> | <a href="#impressum" class="boxer">Impressum</a>
    </div>

    <!-- hidden classes for query popups/dialogs -->
    <div id="impressum" class="hidden boxer"></div>

    <!-- scripts -->
   <script type="text/javascript" src="../scripts/jquery.js"></script> <!-- jquery version 1.11.0 -->
   <script type="text/javascript" src="../scripts/bootstrap.js"></script>
   <script type="text/javascript" src="../scripts/boxer/jquery.fs.boxer.js"></script>
   <script type="text/javascript" src="../scripts/nailthumb/jquery.nailthumb.1.1.min.js"></script>
   <script type="text/javascript" src="../scripts/jqueryScripts.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//ganz-sicher.net/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//ganz-sicher.net/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
</body>
</html>
